@use 'var';
@mixin texto-primary {
    text-align: center;
    color: var.$text-color-primary;
    font-size: .72rem;
    text-decoration: none;
    letter-spacing: .02em;
}
.header{
    background-color: var.$background-color-secondary;
    width: 100%;
    height: 3.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    &-logo{
        width: 1.975rem;
        height: 2.2rem;
        margin: 0 .8rem;
        &__img{
            width: 1.975rem;
            height: 2.2rem; 

        }
    }
    &__link{
        padding: 1.13rem 0;
        margin: 0 1.1rem;
        @include texto-primary();
        position: relative;
        overflow: hidden;

        &::after{
            content: '';
            width: 100%;
            background-color: #2f82e0;
            height: .22rem;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateY(4px);
            transition: transform 0.3s ease;
        }

        &:hover::after{
            transform: translateY(0);

        }  
    }

    &__about{
        padding: .4rem 2rem;
        border-left: .1rem solid white;
        @include texto-primary();
    }
    
}

.session{
    display: flex;
    align-items: center;
    height: 100%;

    &__ico{
        width: 1.75rem;
        margin: 0 0.625rem;
        fill: var.$text-color-primary
    }

    &-login{
        display: flex;
        justify-content: center;  
        align-items: center;
        padding:0 1.85rem;
  
        &__ico{
            width: 1.6rem;
            height: 1.6em;
            fill: var.$text-color-primary;
            margin-right: .7rem;
           
        }
        &__link{
            @include texto-primary();
        }
    }

    &__get{
        height: 100%;
        padding:0 1.25rem;
        line-height: 3.25rem;
        background-color: #2f82e0;
        @include texto-primary();
        color: white;
        font-weight: bold;
        letter-spacing: .1rem;
    }
}

.menu-bars {
    // position: fixed;
    // top: 1rem;
    // right: 2rem;
    // z-index: 10;
    display: none;
    cursor: pointer;
    margin-right: 0.9375rem;
  }
  
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 2px;
    background-color: #fff;
    margin: 8px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: rotate(-45deg) translate(-7px, 8px);
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
  }
  

@media screen and (max-width: 1350px) {
    .navbar__link, .navbar__about, .session{
        display: none;
    }

    .menu-bars{
        display: inline;
    }
}