* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #121212;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.header {
  background-color: #2a2a2a;
  width: 100%;
  height: 3.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-logo {
  width: 1.975rem;
  height: 2.2rem;
  margin: 0 0.8rem;
}
.navbar-logo__img {
  width: 1.975rem;
  height: 2.2rem;
}
.navbar__link {
  padding: 1.13rem 0;
  margin: 0 1.1rem;
  text-align: center;
  color: #bebaba;
  font-size: 0.72rem;
  text-decoration: none;
  letter-spacing: 0.05rem;
  position: relative;
  overflow: hidden;
}
.navbar__link::after {
  content: "";
  width: 100%;
  background-color: #2f82e0;
  height: 0.22rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(4px);
  transition: transform 0.3s ease;
}
.navbar__link:hover::after {
  transform: translateY(0);
}
.navbar__about {
  padding: 0.4rem 2rem;
  border-left: 0.1rem solid white;
  text-align: center;
  color: #bebaba;
  font-size: 0.72rem;
  text-decoration: none;
  letter-spacing: 0.05rem;
}

.session {
  display: flex;
  align-items: center;
  height: 100%;
}
.session__ico {
  width: 1.75rem;
  margin: 0 0.625rem;
  fill: #bebaba;
}
.session-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.85rem;
}
.session-login__ico {
  width: 1.6rem;
  height: 1.6em;
  fill: #bebaba;
  margin-right: 0.7rem;
}
.session-login__link {
  text-align: center;
  color: #bebaba;
  font-size: 0.72rem;
  text-decoration: none;
  letter-spacing: 0.05rem;
}
.session__get {
  height: 100%;
  padding: 0 1.25rem;
  line-height: 3.25rem;
  background-color: #2f82e0;
  text-align: center;
  color: #bebaba;
  font-size: 0.72rem;
  text-decoration: none;
  letter-spacing: 0.05rem;
  color: white;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.carousel {
  width: 100%;
  height: calc(100vh - 3.25rem);
}

.contenedor {
  height: 100%;
}
.contenedor-next, .contenedor-previous {
  position: absolute;
  display: block;
  width: 3.875rem;
  height: 3.875rem;
  border: none;
  top: 50%;
  cursor: pointer;
  text-align: center;
  background: none;
  fill: rgba(199, 199, 204, 0.479);
  filter: drop-shadow(0 0 0.1875rem rgba(0, 0, 0, 0.459));
}
.contenedor-previous {
  left: 0;
}
.contenedor-next {
  right: 0;
}
.contenedor-previous:hover, .contenedor-next:hover {
  filter: brightness(100);
}

.list {
  overflow: hidden;
  height: 100%;
}

.element {
  position: relative;
  height: 100%;
}
.element__img {
  height: 100%;
  object-fit: cover;
}
.element-link {
  position: absolute;
  bottom: 50%;
  right: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.element-link__title {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
  transform: scaleY(1.3);
  text-shadow: 0px 0.3px 2.2px rgba(0, 0, 0, 0.065), 0px 0.7px 5.3px rgba(0, 0, 0, 0.093), 0px 1.3px 10px rgba(0, 0, 0, 0.115), 0px 2.2px 17.9px rgba(0, 0, 0, 0.137), 0px 4.2px 33.4px rgba(0, 0, 0, 0.165), 0px 10px 80px rgba(0, 0, 0, 0.23);
}
.element-link__enlace {
  font-size: 1.3rem;
  padding: 0.6em 0.8em;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  margin-top: 1em;
  text-shadow: 0px 0.3px 2.2px rgba(0, 0, 0, 0.065), 0px 0.7px 5.3px rgba(0, 0, 0, 0.093), 0px 1.3px 10px rgba(0, 0, 0, 0.115), 0px 2.2px 17.9px rgba(0, 0, 0, 0.137), 0px 4.2px 33.4px rgba(0, 0, 0, 0.165), 0px 10px 80px rgba(0, 0, 0, 0.23);
}

@media (hover: hover) {
  .element-link__enlace:hover {
    background-color: #fff;
    color: black;
    transition: all 0.8s;
  }
}
@media screen and (max-width: 1350px) {
  .glider-track {
    height: 100%;
  }
}

/*# sourceMappingURL=app.css.map */
